page-offer-refund {
  .width100 {
    width: 100px;
  }
  .align-right {
    text-align: right;
  }
  .bold {
    font-weight: bold;
  }
  .price {
    font-weight: bold;
    font-size: 20px;
  }
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
